* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

body{
  background: rgba(201,55,63,1);
}

.hidden{
  display: none;
}

/*container*/
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


/*header*/
header {
  background-color: rgba(0,0,0,.9);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.title, .search {
  padding: 25px 0;
}

header h1 {
  font-weight: 700;
  color: #fff;
}

h1 #header-bold {
  font-weight: 700;
  color: #930f5b;
}

.search {
  display: flex;
  align-items: center;
}

header input {
  border: none;
  /*border-bottom: 1px solid #930f5b;*/
  border-bottom: none;
  padding: 7px 5px 5px;
  background-color: rgba(0, 0, 0, 0.0);
  width: 400px;
  color: #fff;
  font-size: 16px;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}

.fa {
  color: #FFF;
  padding: 0 10px;
}

/*movie wrapper*/

.flex-wrapper {
  flex: 1;
}

.movie-wrapper {
  display: flex;
  width: 70%;
  margin: 50px auto;
  background-color: rgba(0,0,0,0.8);
}

.movie-poster {
  width: 35%;
}

.movie-poster img {
  max-width: 100%;
  max-height: 650px;
  padding-right: 10px;
}

.movie-data {
  padding: 20px;
  width: 65%;
}

.movie-data h1 {
  text-transform: uppercase;
}

.movie-data #year {
  font-size: 14px;
}

.movie-data h3 {
  text-transform: unset;
  padding: 10px 0 5px;
  color: #930f5b;
}

.stats h2 {
  text-transform: uppercase;
  color: #930f5b;
}

.stats h4 {
  text-transform: uppercase;
  color: #FFF;
  font-weight: 300;
  padding-bottom: 1vh;
}

.movie-data p {
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  padding: 10px 0;
}

#runtime{
  color: inherit;
  text-transform: lowercase;
}

.react-rater a.is-active,.react-rater a.is-active-half::before {
    color: #930f5b !important;
}

.stats {
  display: flex;
  padding: 40px 0;
}

.stats-left{padding-left: 0;}
.stats-left, .stats-right {
  width: 50%;
  /*padding-left: 20px;*/
}

.stats-left #first {
  padding: 0 0 25px 0;
}

.stats-right div {
  padding: 0 0 25px 0;
}
small {
  color: #aaa;
}

.votes{
  color: #aaa;
  font-size: 11px !important;
  padding: 0 !important;
}

@media (max-width: 1500px){
  .movie-poster {
    width: 40%;
  }
  .movie-data {
    width: 60%;
  }
}

@media (max-width: 1300px){
  .movie-wrapper {
    display: flex;
    width: 80%;
  }
}

/*home page*/

.movie-home-wrapper {
  width: 70%;
  margin: 50px auto;
  background-color: rgba(0,0,0,0.8);
}

.first-row, .sec-row {
  display: flex;
}

.first-row .movie, .sec-row .movie {
  flex: 1;
}

.movie {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  height: 275px;
}

.movie img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.movie h3 {
  z-index: 999;
  text-shadow: 2px 2px #000;
  padding: 5px 8px 0 8px;
}

.movie .react-rater {
  z-index: 999;
  text-shadow: 1px 0px #000;
  padding: 5px 5px;
}

@media (max-width: 900px){
  .first-row, .sec-row {
    flex-direction: column;
  }
  .header-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
  header input {
    width: 300px;
  }
  .movie-wrapper {
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
    margin: 50px auto;
    background-color: rgba(0,0,0,0.8);
  }
  .movie-poster {
    width: 100%;
    text-align: center;
  }
  .movie-data {
    width: 100%;
  }
  .stats {
    display: flex;
    flex-direction: column;
  }
  .stats-left {
    padding-bottom: 20px;
  }
}

/*background image*/
.backdrop {
  z-index:-1;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.backdrop img {
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}


/*footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(0,0,0,.95);
  height: 125px;
}

footer p {
  font-size: 14px;
  font-weight: 300;
  color: gray;
  padding: 2px;
}

footer a {
  text-decoration: none;
  color: #930f5b;
}

.poweredbyTMDB{
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  width: 7%;
  margin: 0 auto;
  padding-top: 12px;
}


@media (max-width: 900px){
  .poweredbyTMDB{
  width:  14%;
  }
}

@media (max-width: 500px){
  .poweredbyTMDB{
  width:  20%;
  }
}

@media (max-width: 300px){
  .poweredbyTMDB{
  width:  25%;
  }
}